.cluster-marker {
    color: #fff;
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .food-marker {
    background: none;
    border: none;
  }
  
  .food-marker img {
    width: 25px;
    border-radius: 50%;

  }

  .locate {
    position: absolute;
    top: 6rem;
    left: 15rem;
    background: none;
    border: none;
    z-index: 10;
  }
  .locate img {
    width: 50px;
    cursor: pointer;
  }

  .search {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }


  
  #info{
    position: absolute;
    top: 8rem;
    left: 0rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
    overflow-y:auto;
    height: 80vh;
  }

  .seethough{
    background: none;
    color: white;
  }

  .seethough .back{
    background: rgba(240, 141, 128, 0.623)!important;
  }

  .card-body img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .card{
    background:  rgba(236, 233, 231, 0.726)!important;
  }

  /* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label {
  cursor: pointer;
  filter: grayscale(50%);
}

label:hover {
  filter: grayscale(0);
}
input[type="radio"]:checked + label {
  filter: grayscale(0);
}

#pix{
  width: 200px;
}

/* CHOICE PAGE SECTION */

      #jumbo{
        background-image: linear-gradient(rgba(97, 97, 97, 0.3), rgba(0, 0, 0, 0)), url(/spicejumbo.jpg);
        -webkit-background-size: 100% 100%; 
        -moz-background-size: 100% 100%; 
        -o-background-size: 100% 100%; 
        background-size: 100%;
        background-repeat: no-repeat;
        height: 20%;
      }

      .nameCo {
        font-family: 'Copperplate', "Copperplate Gothic Light", fantasy; 
        font-size: 750%; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: bold; 
        line-height: 26px; 
        color: white;
        padding-top: 15%;
        padding-bottom: 2%;
        text-shadow: 5px 5px 3px rgba(255, 255, 255, 0.39);
      }

      #cookCard {
        padding-top: 20%;
        font-size: 120%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-left: 20%;
        font-weight: 90%;
      }

      #lottiePan {
        padding-top: unset;
        padding-bottom: 2%;
      }

      #cookCard2 {
        padding-top: 20%;
        padding-left: 30%;
        font-weight: 100%;
      }

      #consumerInfo {
        font-size: 120%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 90%;
        /* padding-left: 15%; */
      }

      #choicePage {
        background-image: linear-gradient(rgba(226, 226, 226, 0.7), rgba(230, 230, 230, 0.9)), url(/choicesbkgrnd4.jpg);
        background-size: cover;
        background-attachment: fixed;
      }

      #choicesbtn {
        font-size: xx-large;
        /* font-weight: bold; */
        color: white;
        align-content: center;
        border-style: solid;
        border-radius: 7%;
        padding: 1%;
        background-color: rgb(51, 51, 51);
        
      }

      h1 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      #cRow {
        padding-top: 100px;
        padding-bottom: 100px;
      }

/* END CHOICE PAGE */

/* COOKS PAGE */
      .choppingBoard {
        background-image: url(/choppingboard.png);
        background-size: cover;
        height: 400%;
        width: auto;
      }

      #cooksCard {
        padding-bottom: 10%;
      }

      .dishInfo {
        /* padding-top: 200px; */
        /* color: white; */
      }

      #information {
        background-color: rgba(255, 255, 255, 0.9);
      }

      /* #search {
        width: 100%;
      } */

/* END COOKS PAGE */

/* DETAILS PAGE */
      .details {
        background-image: linear-gradient(rgba(85, 85, 85, 0.541), rgba(230, 230, 230, 0.596)),url(/foodBackground.jpg);
      }

      /* .purchaseCard {
        background-color: black;
      } */

/* END DETAILS PAGE */

/* INDEX.HTML */
      .page-footer {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgb(43, 43, 43);
        color: white;
        height: auto;
        background-attachment: fixed;
}
/* END INDEX.HTML */
