.cluster-marker {
    color: #fff;
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .food-marker {
    background: none;
    border: none;
  }
  
  .food-marker img {
    width: 25px;
  }

  .locate {
    position: absolute;
    top: 6rem;
    left: 15rem;
    background: none;
    border: none;
    z-index: 10;
  }
  .locate img {
    width: 50px;
    cursor: pointer;
  }

  .search {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
  }
  
  .search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }


  
  #info{
    position: absolute;
    top: 5rem;
    left: 1rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
  }

  .seethough{
    background: none;
    color: white;
  }

  .seethough .back{
    background: rgba(240, 141, 128, 0.623)!important;
  }

  .card-body img{
    width: 50px;
    height: 50px;
  }

  .card{
    background:  rgba(236, 233, 231, 0.726)!important;
  }

  /* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label {
  cursor: pointer;
  filter: grayscale(50%);
}

label:hover {
  filter: grayscale(0);
}
input[type="radio"]:checked + label {
  filter: grayscale(0);
}

#pix{
  width: 200px;
}

a {
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.2);
}

.cookInfo {
  text-align: center;
}

.jumbotron{
  background: no-repeat center center; 
  -webkit-background-size: 100% 100%; 
  -moz-background-size: 100% 100%; 
  -o-background-size: 100% 100%; 
  background-size: 100% 100%;
}
/* .overlay {
  background: url(../images/cooking.png);
  display: none;
} */

/* #cooks:hover .overlay {
  color: rgba(255, 255, 255, 0.2); */
  /* display: block; */
/* } */